.visuallyHidden {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  
  .l-container {
    max-width: 780px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  
    &--lg {
      max-width: 960px;
    }
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .child {
    padding-bottom: 5em;
  }
  
  .background--gray {
    background-color: $base-color-secondary;
  }
  
  .sectionPrimary {
    padding: 2em 0;
  
    @include mq() {
      padding: 3.5em 0;
    }
  }
  
  .headingPrimary {
    font-family: $font-notoSans;
    font-size: fz(24);
    font-weight: bold;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 1.6rem;
    background: $text-base-gradation;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .button-area {
    text-align: center;
    margin-top: 2em;
  
    @include mq() {
      margin-top: 2.5em;
    }
  }
  
