.visuallyHidden {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  
  .l-container {
    max-width: 820px;
    width: 100%;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    @include mq() {
      padding: 0 10px;
    }
    &--lg {
      max-width: 960px;
    }
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .child {
    padding-bottom: 5em;
  }
  
  .background--gray {
    background-color: $base-color-secondary;
  }
  
  .sectionPrimary {
    padding: 2em 0;
  
    @include mq() {
      padding: 3.5em 0;
    }
  }
  
  .headingPrimary {
    font-family: $font-notoSans;
    font-size: fz(24);
    font-weight: bold;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 1.6rem;
    background: $text-base-gradation;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .button-area {
    text-align: center;
    margin-top: 2em;
  
    @include mq() {
      margin-top: 2em;
    }
  }
  
  .skillCards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
      li{
        list-style: none;
      }
  }

  .works {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  
    &__item {
      width: 100%;
  
      @include mq() {
        width: calc(50% - 10px);
      }
    }
  }


  .profile {

    &__upper{
      display: flex;
      flex-flow: column;
      margin-bottom: 3em;
      justify-content: space-between;
  
      @include mq() {
        flex-flow: nowrap;
      }
    }
    &__text {
      flex: 0 0 auto;
      order: 2;
      padding: 0 15px;
      @include mq() {
        order: 1;
        padding: 0;
      }
    }
  
    &__imageArea {
      width: 100%;
      position: relative;
      height: 140px;
      margin-bottom: 6em;
      order: 1;
      background: linear-gradient(to right, #BB42F6, #E3B2FB);
  
      @include mq() {
        order: 2;
        flex: 0 0 200px;
        height: auto;
        background: none;
        margin-bottom: 0;
      }
  
      img {
        width: 100%;
      }
    }
    &__image{
      width: 140px;
      height: 140px;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0 0 10px 3px #6666;
      overflow: hidden;
      position: absolute;
      left: 50%;
      bottom: -50%;
      transform: translateX(-50%);
  
      @include mq() {
        width: 200px;
        height: 200px;
        transform: inherit;
        position: relative;
        bottom: 0%;
        left: 0;
  
      }
  
    }
  
    &__message{
      padding: 0 15px;
      @include mq() {
        padding: 0;
      }
    }
  
    &__name {
      font-size: fz(20);
      font-weight: bold;
      margin-bottom: 0.5em;
  
      @include mq() {
        font-size: fz(20);
        margin-bottom: 0.857em;
      }
  
      [lang='en'] {
        font-size: fz(16);
  
        &::before {
          content: '/';
          margin: 0 0.5em;
        }
      }
    }
  
    &__item {
      margin-bottom: 0.5em;
  
      @include mq() {
        margin-bottom: 1em;
      }
    }
  
    &__title {
      font-size: fz(18);
      font-weight: bold;
      margin-bottom: 0.222em;
  
      @include mq() {
        margin-bottom: 0.444em;
      }
    }
  
  
  
  }

  .page-enter-active, .page-leave-active {
    transition: opacity 0.1s
  }
  .page-enter, .page-leave-active {
    opacity: 0
  }